.btn{
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    font-size: 0.75rem; 
    border-radius: 0.375rem; 
    background-color: #47505e; 
    color: #dfe5eb;
    transition: 0.5s;
  }
  
.btn:hover {
    background-color: #9f9fa0;
    color: #070707;
  }