.project-container {
  width: 35rem;
  margin-top: 4rem;
}

menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

#cancle-btn {
  color: #604c38;
}

#cancle-btn:hover {
  color: #a28869;
}

#save-btn {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  background-color: #2a2a2a;
  color: #f1f1f1;
  cursor: pointer;
}

#save-btn:hover {
  background-color: #171717;
}
